.container {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

header {
  font-size: 30px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 300px;
  height: 40px;
  margin: 20px;
  background-color: #fcf9f9;
  border: solid rgb(237, 237, 237) 1px;
  border-radius: 10px;
  margin-inline: 10px;
  padding-inline: 10px;
}

.bouton {
  background-color: #5c47d2;
  color: white;
  border: #5c47d2;
  align-self: center;
}

label {
  margin: 10px;
}

.resultInfo {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
}

p {
  font-size: 20px;
  line-height: 40px;
  margin: 10px;
}

.cacher {
  display: none;
}

span {
  font-weight: bold;
}

Footer {
  margin-top: 30px;
}
